@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700");
@import url("https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700");
:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 115, 119, 124;
  --bs-body-bg-rgb: 254, 254, 250;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #73777c;
  --bs-body-bg: #fefefa;
}

.blockquote {
  font-size: 0.00390625rem;
  border: 1px solid rgba(222, 226, 230, 0.54);
  border-left: 0.5rem solid rgba(13, 110, 253, 0.54);
  color: #6c757d;
  font-family: var(--bs-font-sans-serif);
  font-style: italic;
  line-height: 1.6;
  margin: 1.875rem auto;
  max-width: 100%;
  padding: 3.75rem 1.875rem 1.875rem 1.875rem;
  position: relative;
  width: 100%;
}
.blockquote:before {
  font-size: 0.00390625rem;
  color: rgba(13, 110, 253, 0.54);
  content: "“";
  font-family: "Noto Serif", "Georgia", "Times New Roman", "Times", serif;
  font-size: 5.5rem;
  height: 3.75rem;
  left: 0.9375rem;
  line-height: 1;
  max-width: 3.75rem;
  position: absolute;
  text-align: inherit;
  top: 0.9375rem;
  width: 100%;
}
.blockquote:after {
  content: "";
}
.blockquote-footer {
  font-size: 0.875em;
  color: #212529;
  display: block;
  font-style: normal;
  font-weight: 700;
  margin-top: 1rem;
  padding: 0;
}
.blockquote-footer:before {
  content: "— ";
}

/*# sourceMappingURL=index.css.map */
