// Import fonts
@font-face{
  font-family: 'edwardian';
  src: url(../assets/fonts/edwardian-script-itc-regular.ttf) format('truetype');
}

@font-face{
  font-family: 'yugothil';
  src: url(../assets/fonts/yugothil.ttf) format('truetype');
}


.fancy-font-title {
  font-family: 'edwardian';
  padding: 0.5rem;
  z-index: 1;
}

.pretty-font {
  font-family: 'yugothil';
  padding: 0.5rem;
  z-index: 1;
}

.blur-background {
  backdrop-filter: blur(4px);
}

$body-bg: #fefefa;
$body-color: #73777c;
$font-family-sans-serif: "yugothil", sans-serif;
$theme-colors: (
  "primary":    #e4906c,
  // "secondary":  ..,
  // "success":    ..,
  // "info":       ..,
  // "warning":    ..,
  // "danger":     ..,
  "light":      #fefefa,
  // "dark":       ..
);

// Bootstrap and its default variables
@import "./scss/bootstrap";